* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    margin: 0;
}

.box_animate {
    position: relative;
    width: 1000px;
    height: 1000px;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: boxrotate;
    transform-style: preserve-3d;
}

.front {
    top: 450px;
    left: 450px;
    position: absolute;
    height: 100px;
    width: 100px;
    background: purple;
    animation-name: purplesquare;
}

.back {
    top: 450px;
    left: 450px;
    position: absolute;
    height: 100px;
    width: 100px;
    background: aqua;
    animation-name: aquasquare;

}

.animate {
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes purplesquare {
    from {
        transform: rotate(0) translateZ(20px);
    }
    to {
        transform: rotate(360deg) translateZ(20px);
    }
}

@keyframes aquasquare {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes boxrotate {
    from {
        transform: rotatey(0);
    }
    to {
        transform: rotatey(360deg);
    }
}

.qqq::before {
    width: 100px;
    height: 100px;
    background: purple;
}

.qqq {
    width: 100px;
    height: 100px;
    background: purple;
}